<div class="print-hidden grid-auto-col toolbar mb-2">
  <button class="print-hidden text-center" kendoButton>Nyomtatás</button>
</div>

<div class="page">
  <div id="header">
    <!-- Left -->
    <div class="logo">
      <img src="assets/images/pp_logo.jpg" />
    </div>

    <!-- Right -->
    <div class="company-info">
      <div class="top">
        <span class="title">PRIMA PROTETIKA Kft.</span>
        <hr />
      </div>

      <div class="mid">
        <div class="left">
          <div class="grid-row">
            <span class="bold">Központ:</span>
            <span>5600 Békéscsaba, Gyulai út 35.</span>
          </div>

          <div class="grid-row">
            <span class="bold">Levélcím:</span>
            <span>5600 Békéscsaba, Gyulai út 35.</span>
          </div>

          <div>
            <div class="grid-row">
              <span class="bold">Teljesítés helye:</span>
              <span>ÖE címe??</span>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="grid-row">
            <span class="bold">Telefon:</span>
            <span>66/529-470</span>
          </div>

          <div class="grid-row">
            <span class="bold">Fax:</span>
            <span>66/529-480</span>
          </div>

          <div class="grid-row">
            <span class="bold">Web:</span>
            <span>www.prima-protetika.hu</span>
          </div>
        </div>
      </div>

      <div class="bottom">
        <hr />
        <div class="grid-row">
          <span class="bold">Bankszámlaszám:</span>
          <span>11733003-20073101-00000000</span>
        </div>

        <div class="grid-row">
          <div class="grid-row">
            <span class="bold">Adószám:</span>
            <span>11046893-2-04</span>
          </div>

          <div class="grid-row">
            <span class="bold">EU:</span>
            <span>HU11046893</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-title">
    <span class="print-title">Title</span>
  </div>

  <div class="partner-data">
    <span><strong>Vevő</strong></span>

    <hr />

    <div class="vevo-adatok">
      <div class="left">
        <span>Partner név</span>
        <span>Irsz Település</span>
        <span
          >Közterület neve Közterület típusa hsz.
          <ng-container>épület</ng-container>
          <ng-container>emelet/</ng-container>
          <ng-container>ajto.</ng-container></span
        >
        <span
          ><strong>Adószám:</strong> <ng-container>Adószám</ng-container></span
        >
      </div>

      <div class="right">
        <div class="grid-row">
          <span><strong>Fizetés módja:</strong></span>
          <span>Készpénz</span>
        </div>

        <div class="grid-row">
          <span><strong>Teljesítés kelte:</strong></span>
          <span>2022-01-01</span>
        </div>

        <div class="grid-row">
          <span><strong>Számla kelte:</strong></span>
          <span>2022-01-01</span>
        </div>

        <div class="grid-row">
          <span><strong>Fizetési határidő:</strong></span>
          <span>2022-01-01</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="tetelek-wrapper">
      <table id="tetelek">
        <thead>
          <th class="text-left">#</th>
          <th class="text-left">Cikknév</th>
          <th class="text-right">Mennyiség</th>
          <th class="text-right">ÁFA</th>
          <th class="text-right">Egységár</th>
          <th class="text-right">ÁFA érték</th>
          <th class="text-right">Bruttó</th>
        </thead>

        <!-- Max 28 tétel fér ki -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Asd</td>
            <td class="text-right">10 db</td>
            <td class="text-right">100 Ft</td>
            <td class="text-right">27 Ft</td>
            <td class="text-right">127 Ft</td>
            <td class="text-right">1270 Ft</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="sum-wrapper">
      <div class="sum-block">
        <span><strong>ÁFA kulcs</strong></span>
        <span>27%</span>
        <span><strong>Összesen:</strong></span>
      </div>

      <div class="sum-block">
        <span><strong>Adóalap</strong></span>
        <span>270 Ft</span>
        <span class="text-right"><strong> 500 </strong></span>
      </div>

      <div class="sum-block">
        <span><strong>Adóforint</strong></span>
        <span>1</span>
        <span class="text-right"><strong>2</strong></span>
      </div>
    </div>

    <div class="vegosszeg">
      <div class="sum grid-auto-col">
        <span><strong>Számla végösszege:</strong></span>
        <span><strong>1270 Ft</strong></span>
      </div>
      <span class="sum-text"
        ><strong>azaz ezerkettőszázhetven forint</strong></span
      >
    </div>

    <div class="megjegyzes">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas hic
      quisquam sapiente? Alias ex, eos quisquam, sapiente laboriosam iste
      dignissimos obcaecati optio pariatur ipsa, deserunt hic rem aliquid
      recusandae numquam!
    </div>
  </div>

  <div class="footer">
    <span id="datum">2022-01-01</span>

    <span id="dolgozoi-kod">156</span>

    <img
      src="assets/images/ft_logo_name_black.png"
      id="company-image"
      class="img-fluid bg-bottom"
      alt="FREDERIK TECHNOLOGIES"
    />

    <span id="page-info" class="text-right">{{ 1 }} / {{ 1 }} Oldal</span>
  </div>
</div>
